body {
    background-color: #444;
    /* color: #fffff8; */
    /* font-size:24px; */
}
.container{
    /* Step 1: Set display to grid */
    display:grid;
    width:90%;
    margin:auto;
    margin-top: 150px;
    /* Step 2: setup rows and columns */
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: 30px repeat(7, 1fr);
        grid-template-rows: 70px 400px 1fr;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft"
        /* border: 2px solid yelow; */
    
}
.box{
/* width: 250pc;
    height: 150 px; */
    border: 1px solid red;
    background: #f8fa9d
    }


.header{
    /*row start/column start/ row end/ column end */
    grid-area: hd;
}

.footer{
    grid-area: ft;
}
.sidebar{
    grid-area: sd;
}
.content{
    grid-area: main;
}